.stepper {
  display: flex;
  gap: 20px;

  @include forScreen("tablet") {
    gap: 5px;
  }

  &__element {
    gap: 24px;
    flex-grow: 1;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
    
    @include forScreen("tablet") {
      gap: 4px;
    }
  }

  &__element-label {
    font-weight: 400;
    text-align: start;
    font-size: toRem(22);
    color: $color-pink-swan;
    text-transform: capitalize;
    transition: background-color 200ms ease-out;

    @include forScreen("tablet") {
      font-size: toRem(15);
    }
  }

  &__element-label--active {
    color: $color-primary;
  }

  &__element-filler {
    height: 12px;
    border-radius: 12px;
    background-color: $color-pink-swan;
    transition: background-color 200ms ease-out;

    @include forScreen("tablet") {
      height: 6px;
    }
  }
  
  &__element-filler--active {
    background-color: $color-primary;
  }
}