.home {

  &__cover {
    width: 100%;
    display: flex;
    height: 100vh;
    position: relative;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to bottom,
        rgba($color-primary, 40%),
        rgba(black, 0)
      ), linear-gradient(
        to top,
        rgba($color-primary, 100%),
        transparent
      ),
      url("../../../assets/images/epu-cover.jpg");
  }

  &__cover-content {
    text-transform: capitalize;
    color: white;
  }

  &__cover-content-logo {
    height: 200px;
    width: auto;

    @include forScreen("tablet") {
      height: 125px;
    }
  }

  &__cover-content-title {
    $font-size: 60;
    margin-block: 0;
    font-weight: 700;
    font-size: toRem($font-size);
    line-height: toRem($font-size * 1.5);

    @include forScreen("tablet") {
      $font-size: 40;
      font-size: toRem($font-size);
      line-height: toRem($font-size * 1.5);
    }
  }
  
  &__cover-content-subtitle {
    $font-size: 36;
    margin-block: 0;
    font-weight: 500;
    font-size: toRem($font-size);
    line-height: toRem($font-size * 1.5);

    @include forScreen("tablet") {
      $font-size: 26;
      font-size: toRem($font-size);
      line-height: toRem($font-size * 1.5);
    }
  }
  
  &__cover-content-buttons {
    justify-content: center;
    font-size: toRem(26);
    white-space: nowrap;
    margin-top: 60px;
    display: flex;
    border: none;
    gap: 40px;

    @include forScreen("tablet") {
      margin-top: 40px;
      gap: 20px;
    }
  }

  &__cover-content-primary {
    padding-inline: 22px;
    padding-block: 18px;

    @include forScreen("tablet") {
      padding-inline: 11px;
      padding-block: 9px;
      height: 50px;
    }
  }

  &__cover-content-secondary {
    padding-inline: 22px;
    padding-block: 18px;
    align-items: center;
    display: flex;
    gap: 10px;

    &:hover &-icon, &:focus &-icon {
      transform: translateX(-10px);
    }

    @include forScreen("tablet") {
      padding-inline: 11px;
      padding-block: 0;
      height: 50px;
      gap: 5px;

      &:hover &-icon, &:focus &-icon {
        transform: translateX(-5px);
      }
    }
  }

  &__cover-content-secondary-icon {
    transition: transform 300ms ease-in-out;
    width: toRem(30);
    rotate: 180deg;
  }

  &__describe {
    background-color: $color-primary;
    padding-block: 100px;
  }
  
  &__describe-steps {
    display: flex;
    color: white;
    justify-content: space-between;
    padding-inline: 80px;
    margin-bottom: 200px;
    gap: 150px;
  }

  &__describe-steps-explanation-tag {
    color: $color-secondary;
    font-size: toRem(25);
    margin-bottom: 10px;
    font-weight: 700;
  }

  &__describe-steps-explanation-title {
    font-size: toRem(40);
    margin-bottom: 30px;
    font-weight: 700;
  }

  &__describe-steps-explanation-description {
    font-size: toRem(28);
    margin-bottom: 50px;
    font-weight: 400;
  }

  &__describe-steps-explanation-button {
    font-size: toRem(20);
    padding: 15px 60px;
    border-radius: 10px;
    font-weight: 600;
  }

  &__describe-steps-cards {
    display: flex;
    gap: 30px;
  }
  
  &__describe-steps-card-vertical {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__describe-steps-card-vertical:first-child {
    margin-top: 50px;
  }

  &__describe-steps-card-vertical:first-child &__describe-steps-card:first-child {
    background-color: $color-mine-shaft;
    color: white;
  }

  &__describe-steps-card {
    max-width: 250px;
    color: black;
    font-weight: 300;
    border-radius: 6px;
    font-size: toRem(25);
    padding: 60px 25px 25px;
    background-color: white;
  }
  
  &__describe-steps-card-title {
    font-size: toRem(30);
    margin-bottom: 12px;
  }

  &__describe-features {
    display: flex;
    justify-content: space-evenly;
    color: white;
    gap: 100px;
  }

  &__describe-features-card {
    text-align: center;
  }

  &__describe-features-card-icon {
    color: $color-secondary;
    margin-bottom: 20px;
    height: 80px;
    width: 80px;
  }

  &__describe-features-card-text {
    font-size: toRem(30);
    font-weight: 300;
    width: 275px;
  }
}

[dir="rtl"] {
  .home {
    &__cover-content-secondary-icon {
      rotate: 0deg;
    }
  }
}