$color-chambray: #334C7F;
$color-cloud-burst: #1D2941;
$color-brandy: #DDC591;
$color-mercury: #E1E1E1;
$color-cornflower-blue: #4D73F8;
$color-cornflower-lilac: #ffaead;
$color-prussian-blue: #001D59;
$color-pink-swan: #BEB9B9;
$color-mischka: #D8DAE5;
$color-dodger-blue: #4096ff;
$color-apricot: #EE8D85;

$color-primary: $color-chambray;
$color-secondary: $color-brandy;