$color-chambray: #334C7F;
$color-code-grey: #0C0C0C;
$color-mine-shaft: #333333;
$color-cloud-burst: #1D2941;
$color-brandy: #DDC591;
$color-mercury: #E1E1E1;
$color-cornflower-blue: #4D73F8;
$color-cornflower-lilac: #ffaead;
$color-prussian-blue: #001D59;
$color-pink-swan: #BEB9B9;
$color-mischka: #D8DAE5;
$color-dodger-blue: #4096ff;
$color-apricot: #EE8D85;
$color-alabaster: #f7f7f7;

$color-primary: $color-code-grey;
$color-secondary: $color-brandy;